{margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: black;
    background-color: white;
    line-height: 1.5;
    margin: 0;
    padding-top: 100px;
}


.texto-con-imagen {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  position: relative;      
  padding-right: 200px;      
  min-height: 100px;      
}

header {
  width: 100%;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;   
  top: 0;            
  left: 0;
  padding: 10px 0;
  min-height: 80px;
  z-index: 1000;     
}

h1.nombre {
  width: 100%;
  background-color: blue;
  text-align: center;
  color:white;
  font-weight: 700;
  position: static;
  margin: 0; 
}

.logo {
  position: absolute;
  right: 5%;                         
  width: 80px;
  height: auto;
  transform-style: preserve-3d; 
  animation: girar 4s linear 1;
  filter: brightness(0) invert(1);
}

@keyframes girar {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(360deg); }
}

.acerca-de h2 {
  position: sticky;       
  top: 0;                  
  margin: 0;
  padding: 10px 0;
  font-size: 1.2em;
  text-align:start;
  font-weight: 600;
}


nav {
    background-color: white;
    padding: 10px;
}

main {
    padding: 10px 150px 10px 10px;
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgb(red, green, blue);
}
footer {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

.btn-subir {
  position: fixed;         
  bottom: 20px;            
  right: 20px;             
  width: 45px;
  height: 45px;
  background-color: blue;  
  color: white;            
  border-radius: 50%;      
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 24px;         
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
  z-index: 1000;           
}

.btn-subir:hover {
  background-color: darkblue;
}


h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #333;
  text-align:left;
}

p {
    margin-bottom: 10px;
}


.imagen_lateral {
  position:absolute;
  right: 5%;                
  top: 33%;                
  transform: translateY(-20%); 
  max-width: 230px;
  height: auto;
}

.imagen_lateral img {
  max-width: 100%;
  height: auto;
}

.imagen_lateral figcaption {
  font-size: 15px;
  color: #333;
  text-align: center;
  margin:auto;
}

nav a:hover {
    color:black;
    background-color: white;
    padding: 5px 10px;
    border-radius: 4px;
    transition: 0.3s;
    position: relative; 
    z-index: 1100; 
}
